$side:180px;
body{
    margin: 0;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .cararea{
        width: 60vw;
        height: 90vh;
        border: black solid 3px;
        position: relative;
    }
}
.car{
    height: 40px;
    width:40px;
    position: absolute;
}

.outer{
    margin: 50px;
    width: 20vw;
    height:90%;
    border:black solid 3px;
    display: flex;
    position: relative;
    flex-direction:column;
    justify-content:space-around;
    align-items: center;
    .circlered{
        
        height: $side;
        width:$side;
        border-radius: 50%;

        
        background-color: darkred;
    }
    .circleyellow{
        height: $side;
        width:$side;
        background-color:darkgoldenrod;
        border-radius: 50%;

    }
    .circlegreen{
        height: $side;
        width: $side;
        background-color: darkgreen;
        border-radius: 50%;
    }
}